*.passed
mail/*.setup
mail/test_config
mail/test_mail/.notmuch

test_suite
test_composed
test_generic
test_convert_error
test_no_newline_msg
test_non_existant_file
test_open_db
test_mime_message
test_theme
test_keybindings

