[submodule "dist/archlinux"]
	path = dist/archlinux
	url = ssh://aur@aur.archlinux.org/astroid.git
[submodule "dist/astroid-git"]
	path = dist/astroid-git
	url = ssh://aur@aur.archlinux.org/astroid-git.git
