[Desktop Entry]
Name=Astroid Mail
Comment=Graphical notmuch email client
Exec=astroid %u
Icon=astroid
Terminal=false
Type=Application
Keywords=Email;E-mail;
Categories=Network;Email;
MimeType=x-scheme-handler/mailto;
